<div class="projectContentContainer flexContainer">

    <div class="leftRightContainer">
        <h1 class="section__title">Search Items Here</h1>
    </div>

    <%= form_with url: search_item_type_path,  method: :get, html: {class: "contactForm verticalFlexContainer"} do |form|%>

        <%= form.hidden_field :project_id, :value => @project.id %>
        <%= form.hidden_field :order_id, :value => @order.id %>

        <div class="inputs verticalFlexContainer noLeftSide">

            <%= form.label "Item Type" %>

            <div class="flexContainer OrderDetailSearcher">

                <div class="inputs verticalFlexContainer itemFormSelect">
                    <%= form.select :item_type, options_for_select(Item.item_types.map {|k, v| [k.humanize.capitalize, Item.item_types.key(v)]})%>
                </div>

                <%= form.submit "Show Items", :class => "blackFillButton" %>

            </div>

        </div>

    <% end %>



    <div class="leftRightContainer">
        <h1 class="section__title">Searched Results</h1>
    </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Item Id</th>
                <th scope="col">Item Name</th>
                <th scope="col">Vendor</th>
                <th scope="col">Identity Price</th>
            </tr>
        </thead>

        <tbody class="searchTbody" id="searchTbody">
            <tr id="no-remove">
                <th  scope="col" style = "display: none;">Item Id</th>
                <th  scope="col" style = "display: none;">Item Name</th>
                <th scope="col" style = "display: none;">Vendor</th>
                <th scope="col" style = "display: none;">Identity Price</th>
            </tr>
        </tbody>
    </table>

</div>