<div class="projectMainContainer l-section verticalFlexContainer showProjectMainContainer ">
        
    <%= render "show_main_section" %>

    <div class="projectContentContainer flexContainer">

        <div class="leftRightContainer">

            <h1 class="section__title">Order Placed</h1>

            <%if @order.order_type == "unpaid"%>
                <% if not current_user.management?  %>
                    <%= link_to "Pay Bills", project_order_transactions_path(:project_id=>@project.id, :order_id => @order.id), xhr: true, remote: true, method: :post, class: "whiteFillButton" %>
                <%end%>
            <%end%>

        </div>
    
        <table class="table">

            <thead class="thead-light">
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Identity Price</th>
                    <th scope="col">Sum Price</th>
                    <th scope="col">Vendor</th>
                    <%if @order.order_type == "unpaid"%>
                        <th scope="col">Remove</th>
                    <%end%>
                </tr>
            </thead>
    
            <tbody>
                <%= render "show_table_data" %>
            </tbody>

        </table>

    </div>


    <div class="projectContentContainer flexContainer">
        <div class="leftRightContainer">
            <h1 class="section__title">Order Distribution</h1>
        </div>
    
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Vendor Ref#</th>
                    <th scope="col">Vendor Name</th>
                    <th scope="col">Total Payment</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
    
            <tbody>

                <% vendor_based_calculation(@order.order_details).each do |v_id, sum_val|%>
                    <tr>
                        <th data-title = "Vendor Ref#" scope="row"><%= find_vendor_as_object(v_id).id%></th>
                        <th data-title = "Vendor Name"><%= find_vendor_as_object(v_id).company_name%></th>
                        <th data-title = "Total Payment">Rs: <%= sum_val %></th>
                        <th data-title = "Status"><%= @order.order_type.titleize %></th>
                        
                    </tr>
                <% end%>

                <tr class="rowToAddNewLink">
                    <th data-title = "Item Name" scope="row">Order</th>
                    <th data-title = "Quantity">something</th>
                    <th data-title = "Identity Price">from</th>
                    <th data-title = "Sum Price">vendor's</th>
                    
                </tr>
                
            </tbody>

        </table>

        

    </div>


</div>
<%= render "layouts/footer" %>