<section class="contactFormContainer l-section verticalFlexContainer">

            <p class="contactForm__subtitle section__title">Contact Requests</p>
    <div class="leftRightContainer user_amount_left_right">
        <div>
            <p class="contactForm__subtitle">Here are some of the transactions that you carried out<br>Got to perform some more transactions?</p>
        </div>
    </div>

    <div class="verticalFlexContainer registeredUsersContainer ItemsTable">
        <div class="leftRightContainer">
            <h1 class="section__title">Request Details</h1>
        </div>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Company</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date Time</th>
                </tr>
            </thead>

            <tbody>
                <% @contacts.each do |contact|%>
                    <tr>
                        <th data-title = "Name" scope="row"><%= contact.name %></th>
                        <th data-title = "Email"><%= contact.email %></th>
                        <th data-title = "Contact Number"><%= contact.contactNumber %></th>
                        <th data-title = "Company">Rs: <%= contact.company %></th>
                        <th data-title = "Message">Rs: <%= contact.message %></th>
                        <th data-title = "Date Time"><%= amount_date_formatiing(contact.created_at) %></th>
                    </tr>
                <% end%>
                
            </tbody>
    
            
        </table>

        
    </div>

    

    

    
</section>
<%= render "layouts/footer" %>