<section class="section about" id="about">
        <span class="aboutTitle">contact us</span>
        <div class="redLine"></div>
</section>

<section class="contactTouch l-section verticalFlexContainer">
    <h2 class="touchTitle">get in touch</h2>

    <div class="touchContainer flexContainer">
        <div class="touchContent verticalFlexContainer card">
            <%= image_tag "touch1.png", class: "touchLogo"%>
            <h3 class="touchContent__title">Call Now</h3>
            <p class="touchContent__description">+971-565939601</p>
        </div>

        <div class="touchContent verticalFlexContainer card">
            <%= image_tag "touch2.png", class: "touchLogo"%>
            <h3 class="touchContent__title">Address</h3>
            <p class="touchContent__description">Dubai, United Arab Emirates</p>
        </div>

        <div class="touchContent verticalFlexContainer card">
            <%= image_tag "touch3.png", class: "touchLogo"%>
            <h3 class="touchContent__title">Email</h3>
            <p class="touchContent__description">info@maxdesigns.ae</p>
        </div>

        <div class="touchContent verticalFlexContainer card">
            <%= image_tag "touch4.png", class: "touchLogo"%>
            <h3 class="touchContent__title">Social Media</h3>
            <div class="touchContent__socialIcons">
                <a href="https://www.facebook.com/Max-Designs-119741961427527/?_rdc=2&_rdr" class="touchContent__socialIcon"><i class='bx bxl-facebook'></i></a>
                <a href="https://www.instagram.com/max_designs_md/" class="touchContent__socialIcon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://api.whatsapp.com/send/?phone=971565939601&text=Hello+Max+Designs&type=phone_number&app_absent=0" class="touchContent__socialIcon"><i class='bx bxl-whatsapp' ></i></a>
            </div>
        </div>
    </div>
</section>

<section class="contactSeparator">
    <%= image_tag "contactMaxDesign.png"%>
</section>

<%= render "form"%>



