<div class="deviseMainContainer  l-section verticalFlexContainer">

    <h2 class="deviseTitle">Project Profile Image</h2>
    <% if @project.avatar?  %>
        <div class="projectProfileImageDiv">
            <img src = "<%= @project.avatar%>">
        </div>
    
    <% end %>

    <%= form_with model: @project,url: put_projects_image_path(@project), method: :patch, html: {class: "contactForm verticalFlexContainer"} do |f| %>
      <div class="field" id="signupMesssageField">
         <em><%= @project.name%></em>, is a project owned by Mr. <%= @project.client_name%>, located at <%= @project.location%>. 
      </div>
      <br>
      <div class="field avatarField projectProfileAvatar">
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </div>
      <br>
       <div class="Formbuttondiv">
        <%= f.submit "Change Profile Image", :class => "blackFillButton" %>
       </div>
        <br>
    <% end %>
    <div class="deviseMainContainer  l-section verticalFlexContainer">
    </div>

</div>
<%= render "layouts/footer" %>

