<div class="projectMainContainer l-section verticalFlexContainer showProjectMainContainer ">
        <div class="projectTopContainer flexContainer">
            <div>
                <div class="topLeftProject">
                    <h1 class="topPojectTitle"><%= @project.name%></h1>
                </div>
                <br>
                <div class="topLeftProject">
                    <h1 class="clientName"><%= @project.client_name%></h1>
                    <p><%= @project.location%></p>
                </div>
            </div>

            <%# if can? :manage, Project  %>
                <div class="verticalFlexContainer">
                    <a href="<%= see_all_payments_path(:id=>@project.id, format: :pdf)%>" class="blackFillButton">Download PDF</a>
                </div>
            <%# end  %>
        </div>

        <div class="redLine"></div>

        <div class="redLine"></div>


        <% if can? :read, AmountReceived  %>
            <div class="projectContentContainer flexContainer">
                <div class="leftRightContainer" id="all_payment_heading">
                    <h1 class="section__title">Amount Received Details<br>By <%= current_user.name %></h1>
                    <div style="align-self: flex-end;">
                        <%= link_to "Received Amount", new_project_amount_received_path(:project_id=>@project.id), class: "whiteFillButton" %>
                    </div>
                </div>
            
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Project Name</th>
                            <th scope="col">Owner Name</th>
                            <th scope="col">Amount Received</th>
                            <th scope="col">Purpose</th>
                            <th scope="col">Date Time</th>
                            <th scope="col">Mode of Payment</th>
                        </tr>
                    </thead>
            
                    <tbody>
                    
                        <% @users_amount_data.each do |amount_data|%>
                            <tr id="<%= amount_data.id %>">
                                <th data-title = "Project Name" scope="row"><%= find_project(amount_data.project_id).name %></th>
                                <th data-title = "Owner Name"><%= find_project(amount_data.project_id).client_name %></th>
                                <th data-title = "Amount Received">Rs: <%= amount_data.money_received %></th>
                                <th data-title = "Purpose"><%= amount_data.purpose %></th>
                                <th data-title = "Date Time"><%= amount_date_formatiing(amount_data.date) %></th>
                                <th data-title = "Mode of Payment"><%= amount_data.mode.titleize%></th>
                            </tr>
                        <% end%>
                        
                    </tbody>
                </table>
            </div>

            <div class="redLine"></div>
        <% end  %>    


    </div>


    <%= render "layouts/footer" %>