<div class="projectMainContainer l-section verticalFlexContainer showProjectMainContainer ">
    
    <div class="leftRightContainer user_amount_left_right">
        <div class="pdfLogoImage">
            <p class="contactForm__subtitle"><%= wicked_pdf_image_tag 'logoGrey.png'%></p>
        </div>
        <div class="pdfDate">
            <p class="pdfDate__subtitle"><%= amount_date_formatiing(DateTime.now) %></p>
        </div>
    </div>

    <br><br>
    
    <div class="projectTopContainer flexContainer">
        <div>
            <div class="topLeftProject">
                <h1 class="topPojectTitle"><%= @project.name%></h1>
            </div>
            <br>
            <div class="topLeftProject">
                <h1 class="clientName"><%= @project.client_name%></h1>
                <p><%= @project.location%></p>
            </div>
        </div>
    </div>
    
    <br><br>

    <div class="redLine"></div>

    <br><br>

    <p class="contactForm__subtitle section__title" id="report_heading">Project Details Report</p>

    <br><br>

    <% if can? :read, AmountReceived  %>
        <div class="projectContentContainer flexContainer">
        
            <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Date Added</th>
                        </tr>
                    </thead>
            
                    <tbody id="projectDetailTable" >
                        <% @project.project_details.order('updated_at DESC').each do |detail|%>
                            <tr id="<%= detail.id%>">
                                <th data-title = "Task" scope="row"><%= detail.task%></th>
                                <th data-title = "Date Added"><%= project_deadline_formatiing(detail.date)%></th>
                            </tr>
                        <% end%>
                        
                    </tbody>
                </table>
        </div>

    <% end  %>    

</div>


