<%= form_with model: @item, url: vendor_items_path(@vendor, @item), method: :post, html: {class: "contactForm verticalFlexContainer"} do |form|%>
        
    <div class="inputs flexContainer">

        <%= form.text_field :name, :placeholder => "Item's Name" %>
        <%= form.number_field :price, :placeholder => "Item's Price", step: 10, min: 5 %>
        
    </div>

    <div class="inputs verticalFlexContainer itemFormSelect">

        <%= form.label "Item Type" %>
        <%= form.select :item_type, options_for_select(Item.item_types.map {|k, v| [k.humanize.capitalize, Item.item_types.key(v)]}) %>

    </div>

    <div class="Formbuttondiv">
        <%= form.submit "Add Item", :class => "blackFillButton" %>
    </div>

<% end %>