<div class="verticalFlexContainer itemCompanyDetails">
    <h1 class="itemCompanyName"><%= current_user.vendor.company_name%></h1>
    <span class="itemComapanyType"><%= current_user.vendor.company_type%></span>
    <span class="itemComapanyAddress"><%= current_user.vendor.address%></span>
    <br>
    <a href="<%= new_vendor_item_path %>" class="blackFillButton"><i class='bx bx-plus-circle'></i>Increase Items</a>
    <br>
    <a href="<%= vendor_history_path(current_user.vendor) %>" class="whiteFillButton">Your Order History</a>
    <br>
    <a href="<%= edit_vendor_path(current_user.vendor) %>" class="blackFillButton">Edit The Company</a>
</div>

<div class="verticalFlexContainer itemOwnerDetails">
    <div class="itemCompanyImageContainer">
        <img src="<%= current_user.avatar%>" alt="Profile">
    </div>
    <span class="itemCompanyOwner"><%= current_user.name%></span>
</div>