<div class="dashboardBody">
        <div class="sidebar">
            <div class="logo_content">
                <div class="sidelogo">
                    <i class='bx bxl-gmail'></i>
                    <div class="logo_name">MAX DESIGNS</div>
                </div>

                <i class='bx bx-menu' id="btn"></i>
            </div>

            <ul class="sideNav-list">
                <li>
                    <i class='bx bx-search' ></i>
                    <input type="text" placeholder="Search...">
                    <span class="tooltip">Search</span>
                </li>
                <li>
                    <a href="<%= dashboard_path%>">
                        <i class='bx bx-grid-alt' ></i>
                        <span class="links_name">Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <% if can? :simple_user_update, current_user %>
                  <li>
                    <a href="/registered_users">
                        <i class='bx bx-user' ></i>
                        <span class="links_name">Registered Users</span>
                    </a>
                    <span class="tooltip">Registered Users</span>
                </li>
                <% end %>
                
                <li>
                    <a href="/projects">
                        <i class='bx bx-folder' ></i>
                        <span class="links_name">Projects</span>
                    </a>
                    <span class="tooltip">Project</span>
                </li>
                <li>
                    <a href="<%=amounts_page_path%>">
                        <i class='bx bx-credit-card-front'></i>
                        <span class="links_name">Payments</span>
                    </a>
                    <span class="tooltip">Payments</span>
                </li>
                <li>
                    <a href="<%= transactions_page_path %>">
                        <i class='bx bx-wallet'></i>
                        <span class="links_name">Transactions</span>
                    </a>
                    <span class="tooltip">Transactions</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-chat' ></i>
                        <span class="links_name">Messages</span>
                    </a>
                    <span class="tooltip">Messages</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-pie-chart-alt' ></i>
                        <span class="links_name">Analytics</span>
                    </a>
                    <span class="tooltip">Analytics</span>
                </li>
                
                <li>
                    <a href="#">
                        <i class='bx bx-cart' ></i>
                        <span class="links_name">Order</span>
                    </a>
                    <span class="tooltip">Order</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-heart' ></i>
                        <span class="links_name">Saved</span>
                    </a>
                    <span class="tooltip">Saved</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog' ></i>
                        <span class="links_name">Setting</span>
                    </a>
                    <span class="tooltip">Setting</span>
                </li>
            </ul>

            <div class="profile_content">
                <div class="profile">
                    <div class="profile_details">
                        <img src="https://cdn-icons-png.flaticon.com/512/4139/4139981.png" alt="Profile Picture">
                        <div class="name_job">
                            <div class="name"><%= link_to current_user.name.capitalize, profile_path, class: "nav__link" %></div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                    <a href="/profile"><i class='bx bx-log-out-circle' id="log_out"></i></a>.

                </div>
            </div>
        </div>

        <div class="home_content">
            <%= yield %>
      </div>
    </div>