<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Max Designs | MAB CORP</title>

    <!-- ==========     Link for Box Icons      ======= -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- ==========     Fav Icon      ======= -->
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

  </head>

  <body>
    <%= render "layouts/offline_navbar" %>
    <% if user_signed_in? %>
      <%= render "layouts/sidebar" %>
      
    <%else%>
      <%= yield %>
    <%end%>
    <%= render "layouts/footer" %>


  </body>
</html>
